<hello name="{{ name }}"></hello>
<p><b><h1>
  css properties :-</h1></b>
</p>
<div>
  <p id="firstname">My name is salman.</p>
  <p id="hometown">I live in pdtr.</p>
</div>
<p>My best friend is Mickey.</p>
<h1>The accent-color Property</h1>

<h3>Accent color for checkboxes:</h3>
<input type="checkbox" id="vehicle1" name="vehicle1" value="Bike" checked>
<label for="vehicle1"> I have a bike</label><br>
<input type="checkbox" id="vehicle2" name="vehicle2" value="Car" checked>
<label for="vehicle2"> I have a car</label><br><br>

<h3>Accent color for radiobuttons:</h3>
<input type="radio" id="html" name="fav_language" value="HTML">
<label for="html">HTML</label><br>
<input type="radio" id="css" name="fav_language" value="CSS" checked>
<label for="css">CSS</label><br>

<h3>Accent color for a range field:</h3>
<label for="vol">Volume:</label>
<input type="range" id="vol" name="vol" min="0" max="50">

<h3>Accent color for a progress element:</h3>
<label for="file">Downloading progress:</label>
<progress id="file" value="45" max="100"> 45% </progress>
<h1>The align-content Property</h1>

<div id="main">
  <div style="background-color:red;"></div>
  <div style="background-color:lightgreen;"></div>
  <div style="background-color:yellow;"></div>
</div>

<p><b>Note:</b> salman khan angular.</p>
<h2>align-items: center</h2>

<div id="main">
  <div style="background-color:coral;min-height:30px;">RED</div>
  <div style="background-color:lightblue;min-height:50px;">BLUE</div>  
  <div style="background-color:lightgreen;min-height:190px;">Green div with more content.</div>
</div>

<p><b>Note:</b> Internet Explorer 10 and earlier versions do not support the align-items property.</p>
<div id="main">
  <div style="background-color:coral;">RED</div>
  <div style="background-color:lightblue;" id="myBlueDiv">BLUE</div>  
  <div style="background-color:lightgreen;">Green div with more content.</div>
</div>

<p><b>Note:</b> The align-self property overrides the container's align-items property.</p>

<p><b>Note:</b> salman khan.</p>
<p>khan:</p>
<div id="ex1">salman.</div>

<p>all: inherit:</p>
<div id="ex2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>

<p>all: initial:</p>
<div id="ex3">salman khan.</div>

<p>all: unset:</p>
<div id="ex4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
<h1>The animation Property</h1>

<p>Move an element from 0px to 200px left. The animation lasts for 2 seconds. It then starts over again, and go on forever (infinite).</p>
<div></div>
<h1>The animation-delay Property</h1>

<p>Start the animation after 2 seconds:</p>
<div></div>
<h1>animation-direction: alternate</h1>

<p>Play the animation forwards first, then backwards:</p>
<div></div>
<h1>The animation-duration Property</h1>

<p>Specify that the animation should complete one cycle in 3 seconds:</p>

<div></div>

<p><strong>Note:</strong> Always specify the animation-duration property. Otherwise the duration is 0, and the animation will not be played.</p>
<h1>animation-fill-mode: forwards</h1>

<p>Let the div element retain the style values from the last keyframe when the animation ends:</p>
<h1>The animation-name Property</h1>

<p>Specify a name for the @keyframes animation.</p>

<div></div>

<p><b>Note:</b> Always specify the animation-duration property. Otherwise the duration is 0, and the animation will not be played.</p>
<h1>The backdrop-filter Property</h1>

<div class="background">
  <div class="transbox">
    <p>backdrop-filter: blur(2px)</p>
  </div>
</div>
<h1>The background Property</h1>

<p>salman</p>
<p>khan</p>
<p>khan</p>
<h1>The background-attachment Property</h1>

<p>The background-image is fixed. Try to scroll down the page.</p>
<h1>The background-blend-mode Property</h1>

<div id="myDIV"></div>

<p><b>Note:</b> Edge prior 79 do not support the background-blend-mode property.</p>
<h1>The background-clip Property</h1>

<p>The background-clip property defines how far the background should extend within an element.</p>

<p>background-clip: border-box (this is default):</p>
<div id="example1">
  <p>The background extends behind the border.</p>
</div>

<p>background-clip: padding-box:</p>
<div id="example2">
  <p>The background extends to the inside edge of the border.</p>
</div>

<p>background-clip: content-box:</p>
<div id="example3">
  <p>The background extends to the edge of the content box.</p>
</div>
<h1>The background-color Property</h1>

<p>The background color can be specified with a color name.</p>
<h1>The background-image Property</h1>
<p>Hello World!</p>
<h2>background-origin: padding-box (default):</h2>
<div id="example1">
  <h2>Hello World</h2>
  <p>The background image starts from the upper left corner of the padding edge.</p>
</div>

<h2>background-origin: border-box:</h2>
<div id="example2">
  <h2>Hello World</h2>
  <p>The background image starts from the upper left corner of the border.</p>
</div>

<h2>background-origin: content-box:</h2>
<div id="example3">
  <h2>Hello World</h2>
  <p>The background image starts from the upper left corner of the content.</p>
</div>
<p>salman</p>
<h1>The background-repeat Property</h1>
<p>Here, the background image is repeated only vertically.</p>
<h1>The empty-cells Property</h1>

<h2>empty-cells: hide:</h2>
<table class="ex1" border="1">
  <tr>
    <td>Peter</td>
    <td>Griffin</td>
  </tr>
  <tr>
    <td>Lois</td>
    <td></td>
  </tr>
</table>

<h2>empty-cells: show (default):</h2>
<table class="ex2" border="1">
  <tr>
    <td>Peter</td>
    <td>Griffin</td>
  </tr>
  <tr>
    <td>Lois</td>
    <td></td>
  </tr>
</table>
<h1>The filter Property</h1>

<p>Convert the image to grayscale:</p>

<img src="pineapple.jpg" alt="Pineapple" width="100" height="100">

<p><strong>Note:</strong> The filter property is not supported in Edge 12 or Internet Explorer.</p>
<h1>The flex Property</h1>

<div id="main">
  <div style="background-color:coral;">RED</div>
  <div style="background-color:lightblue;">BLUE</div>  
  <div style="background-color:lightgreen;">Green div with more content.</div>
</div>

<p><b>Note:</b> IE11 and newer versions support the flex property. Internet Explorer 10 supports an alternative, the -ms-flex property.</p>
<h1>The flex-basis Property</h1>

<p>Set the initial length of the flex items to 50 pixels, with an exception; set the initial length of the second flex item to 100 pixels:</p>
<div id="main">
  <div style="background-color:coral;">25px</div>
  <div style="background-color:lightblue;">100px</div>
  <div style="background-color:khaki;">25px</div>
  <div style="background-color:pink;">25px</div>
  <div style="background-color:lightgrey;">25px</div>
</div>

<p><b>Note:</b> Internet Explorer 10 and earlier versions do not support the flex-basis property.</p>
<h1>The caption-side Property</h1>
<p>The caption-side property specifies the placement of a table caption:</p>

<h2>caption-side: bottom:</h2>
<table id="example1" border="1">
<caption>Table 1.1 Customers</caption>
<tr>
  <th>Company</th>
  <th>Contact</th>
  <th>Country</th>
</tr>
<tr>
  <td>Alfreds Futterkiste</td>
  <td>Maria Anders</td>
  <td>Germany</td>
</tr>
<tr>
  <td>Berglunds snabbköp</td>
  <td>Christina Berglund</td>
  <td>Sweden</td>
</tr>
<tr>
  <td>Centro comercial Moctezuma</td>
  <td>Francisco Chang</td>
  <td>Mexico</td>
</tr>
<tr>
  <td>Ernst Handel</td>
  <td>Roland Mendel</td>
  <td>Austria</td>
</tr>
</table>

<h2>caption-side: top (default):</h2>
<table id="example2" border="1">
<caption>Table 1.1 Customers</caption>
<tr>
  <th>Company</th>
  <th>Contact</th>
  <th>Country</th>
</tr>
<tr>
  <td>Alfreds Futterkiste</td>
  <td>Maria Anders</td>
  <td>Germany</td>
</tr>
<tr>
  <td>Berglunds snabbköp</td>
  <td>Christina Berglund</td>
  <td>Sweden</td>
</tr>
<tr>
  <td>Centro comercial Moctezuma</td>
  <td>Francisco Chang</td>
  <td>Mexico</td>
</tr>
<tr>
  <td>Ernst Handel</td>
  <td>Roland Mendel</td>
  <td>Austria</td>
</tr>
</table>
<h1>This is heading 1</h1>

<p>This is an ordinary paragraph. Notice that this text is red. The default text-color for a page is defined in the body selector.</p>

<p class="ex">This is a paragraph with class="ex". This text is blue.</p>
<h1>The column-count Property</h1>
<p>The column-count property defines the number of columns an element is divided into:</p>

<div class="newspaper">
Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius.
</div>
<h1>The list-style Property</h1>

<p>The list-style is a shorthand property for all the list properties.</p>

<ul>
  <li>Coffee</li>
  <li>Tea</li>
  <li>Coca Cola</li>
</ul>
<h1>The list-style-image Property</h1>

<p>The list-style-image property replaces the list-item marker with an image:</p>

<ul>
  <li>Coffee</li>
  <li>Tea</li>
  <li>Coca Cola</li>
</ul>
<h1>The margin Property</h1>

<p>A paragraph with no specified margins.</p>
<p class="ex1">This paragraph has a margin of 35 pixels on all four sides.</p>
<p>A paragraph with no specified margins.</p>
<h1>The mask-image Property</h1>

<h3>An image with a mask layer image:</h3>
<div class="mask1">
<img src="img_5terre.jpg" alt="Cinque Terre" width="600" height="400">
</div>

<h3>Original image:</h3>
<img src="img_5terre.jpg" alt="Cinque Terre" width="600" height="400">
<h2>The object-fit Property</h2>

<h2>object-fit: cover:</h2>
<p>Cut off the sides of an image, preserving the aspect ratio, and also filling in the space:</p>
<img class="a" src="paris.jpg" alt="Paris" width="400" height="300">

<h2>Original image:</h2>
<img src="paris.jpg" alt="Paris" width="400" height="300">

<p>Note: The object-fit property is not supported in Internet Explorer/Edge 15 or earlier.</p>
<h1>The quotes Property</h1>

<p><q id="a">This is a quote.</q></p>

<p><q id="b">This is a <q>quote</q> inside a quote.</q></p>

<p><q id="c">This is a <q>quote</q> inside a quote.</q></p>
<h1>The resize Property</h1>

<div>
  <p>Let the user resize both the height and the width of this div element.</p>
  <p>To resize: Click and drag the bottom right corner of this div element.</p>
</div>
<h1>The tab-size Property</h1>

<pre id="t1">
I	use	tab-size	4
</pre>

<pre id="t2">
I	use	tab-size	16
</pre>

<p><strong>Note:</strong> Firefox supports an alternative, the -moz-tab-size property.</p>
<div>
  <p>Let the user resize both the height and the width of this div element.</p>
  <p>To resize: Click and drag the bottom right corner of this div element.</p>
</div>
<h1>Smooth Scroll</h1>

<div class="main" id="section1">
  <h2>Section 1</h2>
  <p>Click on the link to see the "smooth" scrolling effect.</p>
  <a href="#section2">Click Me to Smooth Scroll to Section 2 Below</a>
  <p>Note: Remove the scroll-behavior property to remove smooth scrolling.</p>
</div>

<div class="main" id="section2">
  <h2>Section 2</h2>
  <a href="#section1">Click Me to Smooth Scroll to Section 1 Above</a>
</div>

<p><strong>Note:</strong> The scroll-behavior property is not supported in Internet Explorer.</p>
<h1>This is heading 1</h1>
<h2>This is heading 2</h2>
<h3>This is heading 3</h3>
<h4>This is heading 4</h4>
<h1>The tab-size Property</h1>

<pre id="t1">
I	use	tab-size	4
</pre>

<pre id="t2">
I	use	tab-size	16
</pre>

<p><strong>Note:</strong> Firefox supports an alternative, the -moz-tab-size property.</p>
<h1>The text-decoration-color Property</h1>

<p>The color of the underline should now be red!</p>

<p><strong>Note:</strong> The text-decoration-color property is not supported in Edge prior 79.</p>
<h1>The transform Property</h1>

<h2>transform: rotate(20deg):</h2>
<div class="a">Hello World!</div>
<br>

<h2>transform: skewY(20deg):</h2>
<div class="b">Hello World!</div>
<br>

<h2>transform: scaleY(1.5):</h2>
<div class="c">Hello World!</div>
<h1>The z-index Property</h1>

<img src="w3css.gif" width="100" height="140">

<p>Because the image has a z-index of -1, it will be placed behind the heading.</p>
<h1>The text-shadow Property</h1>
<h1>The text-transform Property</h1>

<h2>text-transform: uppercase:</h2>
<div class="a">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>

<h2>text-transform: lowercase:</h2>
<div class="b">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>

<h2>text-transform: capitalize:</h2>
<div class="c">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
<h1>The top Property</h1>

<p>The following red div element has position: relative;</p>

<div class="a">
  <div class="b">This div element has position: absolute, and top: 0.</div>  
  <div class="c">This div element has position: absolute, and is placed 50 pixels down from the top edge of the containing positioned element.</div>
</div>
<h1>The unicode-bidi Property</h1>

<div>Some text. Default writing direction.</div>
<div class="ex1">Some text. Right-to-left direction.</div>
<h1>The vertical-align Property</h1>

<h2>vertical-align: baseline (default):</h2>
<p>An <img class="a" src="sqpurple.gif" width="9" height="9"> image with a default alignment.</p> 

<h2>vertical-align: text-top:</h2>
<p>An <img class="b" src="sqpurple.gif" width="9" height="9"> image with a text-top alignment.</p> 

<h2>vertical-align: text-bottom:</h2>
<p>An <img class="c" src="sqpurple.gif" width="9" height="9"> image with a text-bottom alignment.</p>

<h2>vertical-align: sub:</h2>
<p>An <img class="d" src="sqpurple.gif" width="9" height="9"> image with a sub alignment.</p> 

<h2>vertical-align: sup:</h2>
<p>An <img class="e" src="sqpurple.gif" width="9" height="9"> image with a super alignment.</p>

<h1>The visibility Property</h1>

<h2 class="a">This heading is visible</h2>

<h2 class="b">This heading is hidden</h2>

<p>Notice that the hidden heading still takes up space on the page.</p>
<h1>The white-space Property</h1>

<h2>white-space: nowrap:</h2>
<p class="a">
This is some text. This is some text. This is some text.
This is some text. This is some text. This is some text.
This is some text. This is some text. This is some text.
This is some text. This is some text. This is some text.
</p>

<h2>white-space: normal:</h2>
<p class="b">
This is some text. This is some text. This is some text.
This is some text. This is some text. This is some text.
This is some text. This is some text. This is some text.
This is some text. This is some text. This is some text.
</p>

<h2>white-space: pre:</h2>
<p class="c">
This is some text. This is some text. This is some text.
This is some text. This is some text. This is some text.
This is some text. This is some text. This is some text.
This is some text. This is some text. This is some text.
</p>
<h1>The width Property</h1>

<h2>width: auto (default)</h2>
<div class="a">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper diam at erat pulvinar, at pulvinar felis blandit. Vestibulum volutpat tellus diam, consequat gravida libero rhoncus ut. Maecenas imperdiet felis nisi, fringilla luctus felis hendrerit sit amet. Pellentesque interdum, nisl nec interdum maximus, augue diam porttitor lorem, et sollicitudin felis neque sit amet erat.</div>

<h2>width: 150px</h2>
<div class="b">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper diam at erat pulvinar, at pulvinar felis blandit. Vestibulum volutpat tellus diam, consequat gravida libero rhoncus ut. Maecenas imperdiet felis nisi, fringilla luctus felis hendrerit sit amet. Pellentesque interdum, nisl nec interdum maximus, augue diam porttitor lorem, et sollicitudin felis neque sit amet erat.</div>

<h2>width: 50%</h2>
<div class="c">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper diam at erat pulvinar, at pulvinar felis blandit. Vestibulum volutpat tellus diam, consequat gravida libero rhoncus ut. Maecenas imperdiet felis nisi, fringilla luctus felis hendrerit sit amet. Pellentesque interdum, nisl nec interdum maximus, augue diam porttitor lorem, et sollicitudin felis neque sit amet erat.</div>
<h1>The word-wrap Property</h1>

<h2>word-wrap: normal (default):</h2>
<div class="a"> This div contains a very long word: thisisaveryveryveryveryveryverylongword. The long word will not break and wrap to the next line.</div>

<h2>word-wrap: break-word:</h2>
<div class="b"> This div contains a very long word: thisisaveryveryveryveryveryverylongword. The long word will break and wrap to the next line.</div>
<h1>The writing-mode Property</h1>

<p class="test1">Some text with default writing-mode.</p>

<p>Some text with a span element with a <span class="test2">vertical-rl</span> writing-mode.</p>

<p class="test2">Some text with writing-mode: vertical-rl.</p>
