<hello name="{{ name }}"></hello>
<p><b><h1>
  css properties :-</h1></b>
</p>
<div>
  <p id="firstname">My name is salman.</p>
  <p id="hometown">I live in pdtr.</p>
</div>
<p>My best friend is Mickey.</p>
<h1>The accent-color Property</h1>

<h3>Accent color for checkboxes:</h3>
<input type="checkbox" id="vehicle1" name="vehicle1" value="Bike" checked>
<label for="vehicle1"> I have a bike</label><br>
<input type="checkbox" id="vehicle2" name="vehicle2" value="Car" checked>
<label for="vehicle2"> I have a car</label><br><br>

<h3>Accent color for radiobuttons:</h3>
<input type="radio" id="html" name="fav_language" value="HTML">
<label for="html">HTML</label><br>
<input type="radio" id="css" name="fav_language" value="CSS" checked>
<label for="css">CSS</label><br>

<h3>Accent color for a range field:</h3>
<label for="vol">Volume:</label>
<input type="range" id="vol" name="vol" min="0" max="50">

<h3>Accent color for a progress element:</h3>
<label for="file">Downloading progress:</label>
<progress id="file" value="45" max="100"> 45% </progress>
<h1>The align-content Property</h1>

<div id="main">
  <div style="background-color:red;"></div>
  <div style="background-color:lightgreen;"></div>
  <div style="background-color:yellow;"></div>
</div>

<p><b>Note:</b> salman khan angular.</p>
<h2>align-items: center</h2>

<div id="main">
  <div style="background-color:coral;min-height:30px;">RED</div>
  <div style="background-color:lightblue;min-height:50px;">BLUE</div>  
  <div style="background-color:lightgreen;min-height:190px;">Green div with more content.</div>
</div>

<p><b>Note:</b> Internet Explorer 10 and earlier versions do not support the align-items property.</p>
<div id="main">
  <div style="background-color:coral;">RED</div>
  <div style="background-color:lightblue;" id="myBlueDiv">BLUE</div>  
  <div style="background-color:lightgreen;">Green div with more content.</div>
</div>

<p><b>Note:</b> The align-self property overrides the container's align-items property.</p>

<p><b>Note:</b> salman khan.</p>
<p>khan:</p>
<div id="ex1">salman.</div>

<p>all: inherit:</p>
<div id="ex2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>

<p>all: initial:</p>
<div id="ex3">salman khan.</div>

<p>all: unset:</p>
<div id="ex4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
<h1>The animation Property</h1>

<p>Move an element from 0px to 200px left. The animation lasts for 2 seconds. It then starts over again, and go on forever (infinite).</p>
<div></div>
<h1>The animation-delay Property</h1>

<p>Start the animation after 2 seconds:</p>
<div></div>
<h1>animation-direction: alternate</h1>

<p>Play the animation forwards first, then backwards:</p>
<div></div>
<h1>The animation-duration Property</h1>

<p>Specify that the animation should complete one cycle in 3 seconds:</p>

<div></div>

<p><strong>Note:</strong> Always specify the animation-duration property. Otherwise the duration is 0, and the animation will not be played.</p>
<h1>animation-fill-mode: forwards</h1>

<p>Let the div element retain the style values from the last keyframe when the animation ends:</p>
<h1>The animation-name Property</h1>

<p>Specify a name for the @keyframes animation.</p>

<div></div>

<p><b>Note:</b> Always specify the animation-duration property. Otherwise the duration is 0, and the animation will not be played.</p>
<h1>The backdrop-filter Property</h1>

<div class="background">
  <div class="transbox">
    <p>backdrop-filter: blur(2px)</p>
  </div>
</div>
<h1>The background Property</h1>

<p>salman</p>
<p>khan</p>
<p>khan</p>
<h1>The background-attachment Property</h1>

<p>The background-image is fixed. Try to scroll down the page.</p>
<h1>The background-blend-mode Property</h1>

<div id="myDIV"></div>

<p><b>Note:</b> Edge prior 79 do not support the background-blend-mode property.</p>
<h1>The background-clip Property</h1>

<p>The background-clip property defines how far the background should extend within an element.</p>

<p>background-clip: border-box (this is default):</p>
<div id="example1">
  <p>The background extends behind the border.</p>
</div>

<p>background-clip: padding-box:</p>
<div id="example2">
  <p>The background extends to the inside edge of the border.</p>
</div>

<p>background-clip: content-box:</p>
<div id="example3">
  <p>The background extends to the edge of the content box.</p>
</div>
<h1>The background-color Property</h1>

<p>The background color can be specified with a color name.</p>
<h1>The background-image Property</h1>
<p>Hello World!</p>
<h2>background-origin: padding-box (default):</h2>
<div id="example1">
  <h2>Hello World</h2>
  <p>The background image starts from the upper left corner of the padding edge.</p>
</div>

<h2>background-origin: border-box:</h2>
<div id="example2">
  <h2>Hello World</h2>
  <p>The background image starts from the upper left corner of the border.</p>
</div>

<h2>background-origin: content-box:</h2>
<div id="example3">
  <h2>Hello World</h2>
  <p>The background image starts from the upper left corner of the content.</p>
</div>
<p>salman</p>
<h1>The background-repeat Property</h1>
<p>Here, the background image is repeated only vertically.</p>
<h1>The empty-cells Property</h1>

<h2>empty-cells: hide:</h2>
<table class="ex1" border="1">
  <tr>
    <td>Peter</td>
    <td>Griffin</td>
  </tr>
  <tr>
    <td>Lois</td>
    <td></td>
  </tr>
</table>

<h2>empty-cells: show (default):</h2>
<table class="ex2" border="1">
  <tr>
    <td>Peter</td>
    <td>Griffin</td>
  </tr>
  <tr>
    <td>Lois</td>
    <td></td>
  </tr>
</table>